# raw data and results
.DS_Store
*.csv
*.tsv
*.sql

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# catboost progress files
catboost_info/

# Jupyter Notebook
.ipynb_checkpoints
